/*
-- Bold --
font-family: Fira Sans;
font-weight: 700;
font-style: normal;

-- Regular --
font-family: Fira Sans;
font-weight: 400;
font-style: normal;
*/

body{
    background-color: #fef5fa;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body>div{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 6rem;
    padding: 2rem; 
    margin-top: 6rem;
}

.illustration{
    width: 35vw;
    height: auto;
    /* align-self: center; */
}

.icon{
    width: 6rem;
    height: auto;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    /* align-self: self-start; */
    /* justify-content: flex-start; */
}

h1 {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 3.125rem;
}

p {
    font-family: Fira Sans;
    font-weight: 400;
    font-size: 1.25rem;
}

.playdi {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 1.25rem;
}

.info{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: #4944E9;
    width: fit-content;
    padding: 1.25rem 2.5rem;
    display: inline;
    margin-top: 1rem;
    border-radius: 1rem;
    transition: .3s;
    cursor: pointer;
}

.btn:hover{
    background-color: #FFCE44;
    /* background-color: #615cf5; */
}

.btn a{
    text-decoration: none;
    color: #f1f1f1;
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 1.25rem;
}

@media screen and (max-width: 900px) {

    body>div{
        flex-direction: column;
    }

    .info{
        text-align: center;
    }

    .icon{
        width: 5rem;
        top: 1rem;
        left: 1.5rem;
    }

    .illustration{
        /* width: 50vw; */
        display: none;
    }

    body>div{
        gap: 0rem;
        padding: 0rem; 
        margin-top: 0rem;
    }

    .btn{
        align-self: center;
    }

}
/* 
@media screen and (max-width: 768px) {

    .illustration{
        width: 70vw;
    }

} */

/* html {
    font-size: 100%;
    background-color: #fef5fa;
}

body {
    margin: auto;
    padding: 0;
}

h1 {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 50px;
}

p {
    font-family: Fira Sans;
    font-weight: 400;
    font-size: 20px;
}


.mg {
    margin-top: 8em;
}

.inner-col {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    margin-left: 6em;
    margin-right: 6em;
}

.playdi {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 20px;
}

img.small {
    width: 160px;
    height: 140px;
    /* margin-left: 4em; 
    
}

img.medium {
    width: 650px;
    height: 600px;
}

.img {
    display: inline-block;
} */

/* @media screen and (max-width: 900px) {
    h1 {
        margin-top: 0.5em;
    }

    .mg {
        display: block;
        z-index: 1;
        width: 75%;
        margin-top: 0em;
    }

    .inner-col {
        display: block;

    }

    img.medium {
        width: 75vw;
        height: auto;
    }

} */
